body {
    font-family: Arial;
    height: 100vh;
    background: linear-gradient(to right, #a00c45, #a1026c, #6e0069); 
}

#principal {
    color: rgb(170, 96, 255);
    text-align: center;
    margin-top: 170px;
}

#subtittle {
    color: rgb(170, 96, 255);
    text-align: center;
}

#text {
    color: rgb(170, 96, 255);
    text-align: center;
    width: 70%;
    margin-left: 15%;
}

@media (min-width: 768px) {
    #text p {
        font-size: 1.25rem; /* Aumenta o tamanho da fonte em telas maiores */
    }

#images{
    width: 45%;
    margin-left: 28%;
}
